html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
  position: absolute;
  z-index: 10;
  margin: 0;
  font-size: 45px;
  color: #808080;
}

h2 {
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end: 5;
  margin: 0;
}

h3 {
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  letter-spacing: 1px;
  width: fit-content;
  margin: 0 auto 20px;
  padding: 2px 6px;
  color: #000;
  background: #fbd444;
}

h4 {
  font-family: "Roboto";
  color: #000;
  background: #d6d1cd;
  margin: 0;
  white-space: nowrap;
  font-weight: bolder;
  letter-spacing: 2px;
  padding: 4px;
  margin: 4px 4px 4px 0;
  width: fit-content;
  box-shadow: inset 0px 15px #fbd444;
}

.github-link {
  font-family: "Roboto";
  color: #000;
  background: #fbd444;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 6px;
  padding: 4px;
  margin: 10px auto;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  box-shadow: inset 0px 15px #d6d1cd;
}

p {
  color: #000;
  margin: 0 0 10px 0;
}

a {
  text-decoration: none;
  color: #fff;
}

span {
  font-family: "Roboto";
  font-weight: bold;
  color: #000;
}

.active {
  color: #fbd444;
  font-weight: bolder;
}

/*HEADER*/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: black;
  background-image: url("../images/header/headermobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: #00000015;
}

.header-img {
  max-width: 100%;
}

.header-button {
  position: absolute;
  bottom: 0;
  margin-bottom: 0.5vw;
  transition: 0.3s;
  animation: floating 1.5s ease-in-out infinite;
}

.header-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.header-span {
  color: #fff;
  position: relative;
  font-weight: lighter;
}

.header-span::before {
  content: "";
  position: relative;
  opacity: 0;
  transition: opacity 0.2 ease-in-out;
  animation: changewords 4s ease-in-out infinite;
}

/*NAV BAR*/
nav {
  display: flex;
  flex-direction: column;
  padding-top: 18px;
  position: sticky;
  top: 0;
  z-index: 100;
  background: #000;
}

.nav-title {
  color: #fbd444;
}

ul {
  display: flex;
  align-self: flex-end;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.main-wrapper {
  display: flex;
  min-height: 84vh;
  flex-direction: column;
  padding: 10px;
  background: #fff;
}

.filler {
  flex: 1;
}

/*WELCOME*/
.welcome-social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: #fbd444;
  height: 100px;
  width: 280px;
  margin: 0 auto;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  padding: 30px;
  margin-top: 20px;
  box-sizing: border-box;
  box-shadow: inset -10px 0px #d6d1cd, inset -20px 0px #fbd444, inset 10px 0px #fbd444, inset 20px 0px #d6d1cd;
}

.about-me-p {
  text-align: justify;
}

/*TECH*/
.all-tech-containers {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
}

.tech-container {
  font-size: 25px;
  width: 100%;
  margin: 20px 0 0 0;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: inset -10px 0px #d6d1cd, inset 0px 10px #fbd444;
}

.tech-image {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

/*PROJECTS*/
.project-title {
  font-size: 35px;
}

.card-grid {
  display: grid;
  justify-content: center;
  gap: 20px 50px;
  margin: auto;
  justify-self: center;
  grid-template-columns: 1fr;
}

.project-view {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-self: center;
  margin: 36px auto 0;
  text-align: center;
  transition: transform 0.2s;
}

.project-view:hover {
  transform: scale(1.1);
}

.project-view:hover .layer {
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

.project-view:hover h2 {
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

.project-view img {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
  width: 100%;
}

.layer {
  background: #000;
  opacity: 0.6;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
  width: 100%;
  z-index: 3;
  visibility: visible;
}

.project-view h2 {
  font-size: 40px;
  grid-row-start: 1;
  z-index: 5;
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-card {
  margin: auto;
}

.project-card p {
  grid-column-end: 5;
  margin: 0;
  grid-column-start: 1;
  margin-bottom: 10px;
}

.github-wrapper {
  display: flex;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
}

footer {
  height: 64px;
  background: #fbd444;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 668px) {
  h1 {
    font-size: 80px;
  }
  .card-grid {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 20px 50px;
  }
  .header {
    background-image: url("../images/header/header.jpg");
  }
  .main-wrapper {
    padding: 20px 40px;
  }
  .all-tech-containers {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .about-me-p {
    width: 75%;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 14vw;
  }
  .main-wrapper {
    padding: 20px 250px;
  }
  .about-me-p {
    font-size: 20px;
    width: 50%;
  }
}

@keyframes floating {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 15px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes changewords {
  0% {
    content: "W";
    opacity: 1;
  }
  7% {
    content: "We";
    opacity: 1;
  }
  14% {
    content: "Web";
    opacity: 1;
  }
  21% {
    content: "Web ";
    opacity: 1;
  }
  28% {
    content: "Web  D";
    opacity: 1;
  }
  35% {
    content: "Web  De";
    opacity: 1;
  }
  42% {
    content: "Web  Dev";
    opacity: 1;
  }
  49% {
    content: "Web  Deve";
    opacity: 1;
  }
  56% {
    content: "Web  Devel";
    opacity: 1;
  }
  63% {
    content: "Web  Develo";
    opacity: 1;
  }
  70% {
    content: "Web  Develop";
    opacity: 1;
  }
  77% {
    content: "Web  Develope";
    opacity: 1;
  }
  84% {
    content: "Web  Developer";
    opacity: 1;
  }
  100% {
    content: "Web  Developer";
  }
}
